<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chat room</title>
    <script src="jquery-3.1.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <style media="screen">
      .active{
        background-color: yellow;
        color: red;
      }
    </style>
    <script type="text/javascript">
      var activeRoom;
      var socket = io();
      $(document).ready(function(){
        $('#btn-send').click(function(){
            socket.emit('CLIENT_SEND_MESSAGE_TO_ROOM',
            {roomName: activeRoom, msg: $('#txt-msg').val()});
        });

        $('#btn-tao-room').click(function(){
            socket.emit('CLIENT_CREATE_NEW_ROOM',
            $('#txt-room').val());
        });

        var isFirst = true;

        $('#txt-msg').keypress(function(e){
          if(isFirst){
            //gui tin -> dang nhap van ban
            socket.emit('SOMEONE_EDIT_MSG', '');
            console.log('Gui tin');
            isFirst = false;
          }
          if(e.which == 13){
            isFirst = true;
            $(this).val('');
            //Gui tin -> ket thuc soan thao
            socket.emit('SOMEONE_STOP_EDIT', '');
          }
        });

        $('#txt-msg').blur(function(){
          //Gui tin -> ket thuc soan thao
          socket.emit('SOMEONE_STOP_EDIT', '');
          isFirst = true;
        });

        socket.on('USER_EDIT', function(){
          $('#enter-state').html('Ai do dang nhap van ban');
        });

        socket.on('STOP_EDIT', function(){
          $('#enter-state').html('');
        });

        $(document).on("click",'.item-room',function(){
          $('#list-room li').removeClass('active');
          $(this).addClass('active');
          activeRoom = $(this).html();
          socket.emit('CLIENT_JOIN_ROOM', activeRoom);
        });

        socket.on('ROOM_MESSAGE', function(data){
          alert(data)
        });

        socket.on('NEW_ROOM_ACCEPTED', function(roomName){
          $('#list-room').append(`<li class="item-room">${roomName}</li>`);
        });

        socket.on('SERVER_SEND_ROOM_ARRAY', function(arrRoom){
          arrRoom.forEach(function(e){
            $('#list-room').append(`<li class="item-room">${e}</li>`);
          });
        });

        socket.on('SERVER_COMFIRM_ROOM_NAME', function(data){
          if(!data){
            alert('Ten room da ton tai');
          }else{
            $('#list-room').append(`<li class="item-room active">${data}</li>`);
          }
        });
      });
    </script>
  </head>
  <body>
    <div id="div-tao-room">
      <input type="text" id="txt-room" placeholder="Nhap ten room">
      <br><br>
      <button id="btn-tao-room">Tao room</button>
    </div>
    <div id="div-chat">
      <br><br>
      <input type="text" id="txt-msg" placeholder="Nhap tin nhan">
      <br><br>
      <button id="btn-send">Gui</button>
    </div>
    <ul id="list-room"></ul>
    <p id="enter-state"></p>
  </body>
</html>
